input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    margin: 0 auto;
    padding: 16px;
    width: 80%;
    height: 800px;
    text-align: center;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.register {
    width: 50%;
    margin: 0 auto;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

.redbutton1 {
    float: left;
}

.redbutton2 {
    float: right;
}

.containerup {
    margin: 0 auto;
    width: 60%;
    height: 50%;
}

.containerdown {
    margin: 0 auto;
    width: 60%;
    height: 10%;
    display: flex;
    flex-direction: row;
    /* align-content: flex-start | flex-end | center | space-between | space-around | stretch; */
    align-content: flex-start;
    /* justify-content: flex-start | flex-end | center | space-between | space-around; */
    justify-content: center;
}