.container {
    width: 1200px;
    padding-top: 108px;
    padding-bottom: 48px;
}

.title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.toggle_detail hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #cccccc;
}

.member_info {
    box-shadow: 5px 5px 10px #e3e3e3;
    padding: 24px;
    padding-bottom: 50px;
    font-size: 16px;
    border-radius: 4px;
    color: rgb(126, 126, 126);
}

.manage_list {
    box-shadow: 5px 5px 10px #e3e3e3;
    padding: 24px;
    padding-bottom: 50px;
    font-size: 16px;
    border-radius: 4px;
    color: rgb(126, 126, 126);
}

.toggle_detail button {
    font-size: 16px;
    width: 100%;
    padding: 5px;
    color: #ffffff;
    display: inline-block;
    background-color: #f83232;
    transition: 0.3s;
    font-weight: 800;
    text-decoration: none;
    border: 0.2em solid #f83232;
    position: relative;
    outline: none;
    cursor: pointer;
}

.toggle_detail button:hover {
    background-color: #dd1919;
    border: 0.2em solid #dd1919;
}

.toggle_detail input {
    display: block;
    /* width: 250px; */
    width: 100%;
    font-size: 15px;
    padding: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    transition: border, box-shadow .3s;
}

.toggle_detail input:focus {
    border: 1px solid #b0deff;
    box-shadow: 0 0 5px #b0deff;
}

.order_check {
    cursor: pointer;
    margin-top: 8px;
    background-color: #616161;
    padding: 12px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: white;
    /* border-radius: 4px; */
}

.order_check button {
    font-size: 16px;
    width: 100px;
    padding: 5px;
    color: #ffffff;
    display: inline-block;
    background-color: #f83232;
    transition: 0.3s;
    font-weight: 800;
    text-decoration: none;
    border: 0.2em solid #f83232;
    position: relative;
    outline: none;
    cursor: pointer;
}

.order_check button:hover {
    background-color: #dd1919;
    border: 0.2em solid #dd1919;
}

.toggle_detail {
    font-size: 18px;
    padding: 8px;
    background-color: rgb(245, 245, 245);
}

.toggle_detail>.left_panel>* {
    margin-top: 8px;
    margin-bottom: 8px;
}

.toggle_detail>.right_panel>* {
    margin-top: 8px;
    margin-bottom: 8px;
}

.game_name {
    color: #dd1919;
    text-align: left;
    padding: 0;
}

.game_selections {
    text-align: right;
    padding: 0;
}